nyctraffic:
  target: dev
  outputs:
    dev:
      type: bigquery
      method: service-account
      project: your-project-id
      dataset: nyc_traffic
      threads: 4
      timeout_seconds: 300
      location: US
      priority: interactive
      keyfile: /path/to/credentials.json 